.config-settings-container {
	height: 700px;
	margin-top: 30px;
}

.config-settings-panel {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	width: 80%; 
	text-align: center;

	border: 5px solid gray;
	border-radius: 10px;
    transition: all .25s ease-out;
}

.information-panel {
	padding: 10px;
}