<div [ngStyle]="{'background-color': backgroundColor, 'color': color}">

	<app-main-header></app-main-header>
	<app-error-panel></app-error-panel>
	<div *ngIf="mode === 'dashboard' || mode === 'viewer'">
		<app-shoutouts-items-list [isBroadcaster]="isBroadcaster" [color]="color" [borderColor]="borderColor"
			[backgroundColor]="backgroundColor" [enableBits]="enableBits" [bitsTier]="bitsTier">
		</app-shoutouts-items-list>
		<app-settings-panel *ngIf="isBroadcaster === true" [backgroundColor]="backgroundColor" [color]="color"
			[isConfig]="isConfig" [borderColor]="borderColor" [autoShoutouts]="autoShoutouts" [enableBits]="enableBits" [bitsTier]="bitsTier"
			[pinDays]="pinDays" (changeEvent)="receiveChange($event)">
		</app-settings-panel>
	</div>
	<div *ngIf="mode === 'config'">
		<app-config-panel [backgroundColor]="backgroundColor" [color]="color" [borderColor]="borderColor"
            [isConfig]="isConfig" [autoShoutouts]="autoShoutouts" [enableBits]="enableBits" [bitsTier]="bitsTier" [pinDays]="pinDays"
			(changeEvent)="receiveChange($event)">
		</app-config-panel>
	</div>
</div>