<div *ngIf="settings.appearance$ | async as appearance" [ngStyle]="{
    'background-color': appearance['background-color'],
    'border-color': appearance['border-color'],
    'color': appearance['color']
    }" class="form-container" [formGroup]="bits">

    <section class="enable-bits-sec">
        <p>
            <mat-checkbox formControlName="enable-bits"><span [ngStyle]="{
        'background-color': appearance['background-color'],
        'border-color': appearance['border-color'],
        'color': appearance['color']
        }">Enable Bits</span></mat-checkbox>
        </p>
    </section>
    <section *ngIf="bits.value['enable-bits'] === true">
        <mat-form-field appearance="fill">
            <mat-label>Bits Tier</mat-label>
            <mat-select formControlName="bits-tier">
                <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p>
            <mat-hint matRipple #ripple><span style="font-weight: bolder;">Move Up {{0}} bits | Pin to
                    Top {{0}} bits</span></mat-hint>
        </p>
    </section>
    <section class="button-bar">
        <button mat-raised-button class="border-button" [ngStyle]="{
                'color': appearance['color'],
                'border-color': appearance['border-color'],
                'background-color': appearance['background-color']
                }" (click)="settings.update(bits.value)">
            <mat-icon>save</mat-icon>
            Save
        </button>
    </section>
</div>