::ng-deep .mat-mdc-tab.mdc-tab {
    height: 30px;
}

.form-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 298px;
    margin: 0px 10px;
}

.enable-bits-sec {
    padding-top: 10px;
}

.button-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
} 