<div class="page-container" [ngStyle]="{
    'color': (settings.appearance$ | async)?.['color'],
    'border-color': (settings.appearance$ | async)?.['border-color'],
    'background-color': (settings.appearance$ | async)?.['background-color']
}">
    <div class="page-header" [ngStyle]="{'border-color': (settings.appearance$ | async)?.['border-color']}">
        <h2>Shoutouts for Streamers</h2>
    </div>
    <!-- <app-guests-list></app-guests-list> -->
    <app-configuration></app-configuration>

</div>