<app-loader-panel *ngIf="loading === true"></app-loader-panel>
<app-trans-error-panel *ngIf="transError" [transError]="transError" [borderColor]="borderColor"
    [backgroundColor]="backgroundColor"></app-trans-error-panel>
<div class="container">
    <div *ngIf="empty === true" class="center">
        <div><img src="logo_1.svg" /></div>
        <h4>No Shoutouts Yet</h4>
    </div>
    <ul class="pinned-items-list">
        <li *ngFor="let shoutoutItem of pinnedItems">
            <app-list-item [auth]="auth" [isBroadcaster]="isBroadcaster" [shoutoutItem]="shoutoutItem" 
                [color]="color" [borderColor]="borderColor" [backgroundColor]="backgroundColor" [cooldowns]="cooldowns"></app-list-item>
        </li>
    </ul>
    <ul [className]="pinnedItems.length > 0 ? 'items-list-with-pinned' : 'items-list-no-pinned'">
        <li *ngFor="let shoutoutItem of shoutoutItems">
            <app-list-item [auth]="auth" [isBroadcaster]="isBroadcaster" [shoutoutItem]="shoutoutItem" [color]="color"
                [borderColor]="borderColor" [backgroundColor]="backgroundColor" [enableBits]="enableBits"
                [bitsTier]="bitsTier" [cooldowns]="cooldowns" (moveUpTransactionCallback)="moveUpCallback()"
                (moveUpTransactionCancelled)="moveUpCancelled()" (pinToTopTransactionCallback)="pinToTopCallback()"
                (pinToTopTransactionCancelled)="pinToTopCancelled()"></app-list-item>
        </li>
    </ul>
</div>