<div @removeTrigger *ngIf="isVisibleItem" class="item" [ngStyle]="{'border-color': borderColor}"
	title="{{shoutoutItem.user.display_name}}">
	<div class="item-image"><a href="https://www.twitch.tv/{{shoutoutItem.user.login}}" target="_blank"><img
				src="{{shoutoutItem.user.profile_image_url}}" /></a></div>
	<div class="item-info">
		<span *ngIf="isBroadcaster === true && shoutoutItem.isPinned === false && showConfirmRemove === false" (click)="openConfirmRemoveCallback()" class="item-remove"
			title="Remove Item">&#x274C;</span>
		<div>
			<span *ngIf="isBroadcaster === false && shoutoutItem.moveUp.show === true"
				(click)="moveUpCallback(shoutoutItem.user.login)" (mouseover)="mouseOverCallback('move-up')"
				[className]="shoutoutItem.moveUp.enabled && enableBits ? 'item-moveup' : 'item-moveup item-disabled'"
				[attr.title]="shoutoutItem.moveUp.enabled ? (!enableBits ? 'Bits Not Enabled' : 'Move Up') : 'Disabled for ' + cooldowns.moveUpSeconds + 's'"
				[ngStyle]="{'border-color': borderColor}">
				<span>&#8682;</span>
			</span>
			<span *ngIf="(isBroadcaster === false && shoutoutItem.pinToTop.show === true) || shoutoutItem.isPinned === true"
				(click)="pinToTopCallback(shoutoutItem.user.login)" (mouseover)="mouseOverCallback('pin-to-top')"
				[className]="shoutoutItem.pinToTop.enabled && enableBits ? 'item-pintotop' : 'item-pintotop item-disabled'"
				[attr.title]="shoutoutItem.pinToTop.enabled ? (!enableBits ? 'Bits Not Enabled' : 'Pin To Top For ' + pinDays + ' Days') : 'Pinned'"
				[ngStyle]="{'border-color': borderColor}">
				<span>🖈</span>
			</span>
		</div>
        <span class="item-confirm-group" *ngIf="showConfirmRemove === true">
            <button title="Remove {{shoutoutItem.user.login}}" (click)="removeCallback(shoutoutItem.user.login)" [ngStyle]="{color: color, 'border-color': borderColor, 'background-color': backgroundColor}">Remove</button> 
            <button title="" (click)="closeConfirmRemoveCallback()" [ngStyle]="{color: color, 'border-color': borderColor, 'background-color': backgroundColor}">Cancel</button>
        </span>
		<div class="item-info-display_name">{{shoutoutItem.user.display_name}}</div>
		<div class="item-info-description">{{shoutoutItem.user.description}}</div>
		<div class="item-info-posted_by" [ngStyle]="{'border-color': borderColor, 'background-color': backgroundColor}">
			{{shoutoutItem.posted_by}}</div>
	</div>
</div>