.full-height {
    height: 238px;
}

.pinned-height {
    height: 162px;
}

.list-container {
    overflow-y: auto;
    overflow-x: hidden;
}

ul {
    margin: 0px 20px 0px 5px;
    padding: 0;
    width: 99%;
}

img {
    width: 58px;
    height: 58px;
    margin: 2px;

}

.row-layout {
    position: relative;
    height: 62px;
    // border: 1px solid blue;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    margin: 2px 0px;
    width: 98%;
    overflow: hidden;

    display: flex;
}

.grow1 {
    flex-grow: 1;
}

.profile_image_url {
    transition: all .2s;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
        border-radius: 50%;
        opacity: 1.0;
    }
}

.display_name {
    // background-color: rgb(179, 0, 255);
    padding-top: 2px;
    padding-left: 4px;
    width: 174px;
    font-size: 130%;
    font-weight: 700;
    text-align: left;
}

.description {
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 24px;
    line-height: 1.2em;
    font-size: 80%;
    height: 38px;
    text-align: left;
    // background-color: rgb(255, 225, 0);
}

.action-layout {
    // background-color: aqua;
    position: absolute;
    right: 3px;
    top: 2px;

    display: flex;
    gap: 2px;
}

.action-item {
    // background-color: rgb(73, 165, 42);

    transition: all .2s;
    // border: 1px solid blue;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
        border-radius: 30%;
        opacity: 1;
    }
}

.action-disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
        cursor: not-allowed;
        opacity: 0.3;
    }
}

.non-action-item {
    // background-color: rgb(73, 165, 42);

    transition: all .2s;
    // border: 1px solid blue;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: 0.8;
    margin-top: 1px;
    transform: scale(90%);

    &:hover {
        opacity: 1;
    }
}

.remove-action-item {
    border-width: 0px;
}

.poster_img {
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0.3;

    &:hover {
        opacity: 0.8;
    }
}

.pinner_img {
    width: 18px;
    height: 18px;
}

.empty-list {
    width: 180px;
    height: 180px;
    margin: auto;
}

.empty-list-img {
    width: 180px;
    height: 180px;
    margin: auto;
    margin-top: 10px;
}

.empty-list-title {
    margin-top: 5px;
}

.error-notice {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: 1;
}

.warning-notice {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: 1;
    // background-color: #fff700;
}