<ng-container>
    <app-error-notice *ngIf="error" class="error" [error]="error"></app-error-notice>
    <div class="list-container-pinned" *ngIf="((twitchLib.context$ | async)?.mode) as mode">
        <ul *ngIf="settings.appearance$ | async as appearance">
            <li class="row-layout" *ngFor="let patron of rawUsers.patrons$ | async">
                <div>
                    <a href="https://twitch.tv/{{patron.streamer_id | twitch_user:'login'}}" target="_blank">
                        <img class="profile_image_url" title="Visit {{patron.streamer_id | twitch_user:'display_name'}}"
                            src="{{patron.streamer_id | twitch_user:'profile_image_url'}}">
                    </a>
                    <img class="poster_img" title="Posted by {{patron.poster_id | twitch_user:'display_name'}}"
                        src="{{patron.poster_id | twitch_user:'profile_image_url'}}">
                </div>
                <div class="grow1">
                    <div class="display_name">{{patron.streamer_id | twitch_user:'display_name'}}</div>
                    <div class="description">
                        {{patron.streamer_id | twitch_user:'description' | truncate:80}}
                    </div>
                </div>
                <span class="action-layout" *ngIf="mode == 'viewer'">
                    <div class="non-action-item">
                        <img class="poster_img pinner_img" title="Pin by {{patron.pinner_id | dynamic_user:'display_name' | async}}"
                        src="{{patron.pinner_id | dynamic_user:'profile_image_url' | async}}">
                    </div>
                </span>
                <span class="action-layout" *ngIf="mode != 'viewer'">
                    <div class="non-action-item">
                        🖈
                    </div>
                    <div class="non-action-item">
                        <img class="poster_img pinner_img" title="Pin expires {{patron.timestamp | date:'short'}}"
                        src="{{patron.pinner_id | dynamic_user:'profile_image_url' | async}}">
                    </div>
                </span>
            </li>
        </ul>
    </div>
    <div *ngIf="(rawUsers.guests$ | async)?.length === 0" class="empty-list">
        <img class="empty-list-img" src="logo_1.svg" />
        <h4 class="empty-list-title">No Shoutouts Yet</h4>
    </div>
    <div class="list-container" [ngClass]="{'full-height': patrons.length === 0, 'pinned-height': patrons.length > 0}" *ngIf="((twitchLib.context$ | async)?.mode) as mode">
        <ul *ngIf="settings.appearance$ | async as appearance">
            <li class="row-layout" *ngFor="let guest of rawUsers.guests$ | async" [ngStyle]="{
                'color': appearance['color'],
                'border-color': appearance['border-color'],
                'background-color': appearance['background-color']
            }">
                <div>
                    <a href="https://twitch.tv/{{guest.streamer_id | twitch_user:'login'}}" target="_blank">
                        <img class="profile_image_url" title="Visit {{guest.streamer_id | twitch_user:'display_name'}}"
                            src="{{guest.streamer_id | twitch_user:'profile_image_url'}}">
                    </a>
                    <img class="poster_img" title="Posted by {{guest.poster_id | twitch_user:'display_name'}}"
                        src="{{guest.poster_id | twitch_user:'profile_image_url'}}">
                </div>
                <div class="grow1">
                    <div class="display_name">{{guest.streamer_id | twitch_user:'display_name'}}</div>
                    <div class="description">
                        {{guest.streamer_id | twitch_user:'description' | truncate:80}}
                    </div>
                </div>
                <span class="action-layout" *ngIf="mode == 'viewer'">
                    <div class="action-item" *ngIf="patrons.length === 0" (click)="actionClick(guest, 'pin-item')" [ngClass]="{'action-disabled' : disableActions, '': !disableActions}" title="Pin to Top" [ngStyle]="{
                        'color': appearance['color'],
                        'border-color': appearance['border-color'],
                        'background-color': appearance['background-color']
                    }">🖈</div>
                    <div class="action-item" (click)="actionClick(guest, 'move-up')" [ngClass]="{'action-disabled' : disableActions, '': !disableActions}" title="Move Up" [ngStyle]="{
                        'color': appearance['color'],
                        'border-color': appearance['border-color'],
                        'background-color': appearance['background-color']
                    }">&#8682;</div>
                </span>
                <span class="action-layout" *ngIf="mode != 'viewer'">
                    <div class="action-item remove-action-item" (click)="removeItem(guest)" [ngClass]="{'action-disabled' : disableActions, '': !disableActions}" title="Remove {{guest.streamer_id | twitch_user:'display_name'}}">&#x274C;</div>
                </span>
            </li>
        </ul>
    </div>
</ng-container>