
<mat-tab-group dynamicHeight [selectedIndex]="0">
    <mat-tab label="Appearance">
      <div class="example-small-box mat-elevation-z4">
        <app-appearance></app-appearance>
      </div>
    </mat-tab>
    <mat-tab label="Behaviour">
      <div class="example-large-box mat-elevation-z4">
        <app-behaviour></app-behaviour>
      </div>
    </mat-tab>
    <mat-tab label="Bits">
      <div class="example-large-box mat-elevation-z4">
        <app-bits></app-bits>
      </div>
    </mat-tab>
  </mat-tab-group>