<div [ngStyle]="{
    'border-color': (settings.appearance$ | async)?.['border-color'],
    'color': (settings.appearance$ | async)?.['color']
    }" class="form-container" [formGroup]="behaviour">

    <section class="input-section">
        <p>
            <mat-checkbox formControlName="auto-shoutouts"><span [ngStyle]="{
        'background-color': (settings.appearance$ | async)?.['background-color'],
        'border-color': (settings.appearance$ | async)?.['border-color'],
        'color': (settings.appearance$ | async)?.['color']
        }">Auto Shoutout</span></mat-checkbox>
        </p>
        <p>
            <mat-checkbox formControlName="badge-vip"><span [ngStyle]="{
        'background-color': (settings.appearance$ | async)?.['background-color'],
        'border-color': (settings.appearance$ | async)?.['border-color'],
        'color': (settings.appearance$ | async)?.['color']
        }">Badge Vip</span></mat-checkbox>
        </p>
    </section>

    <section class="button-bar">
        <button mat-raised-button class="border-button" [ngStyle]="{
                'color': (settings.appearance$ | async)?.['color'],
                'border-color': (settings.appearance$ | async)?.['border-color'],
                'background-color': (settings.appearance$ | async)?.['background-color']
                }" (click)="save()">
            <mat-icon>save</mat-icon>
            Save
        </button>
    </section>
</div>