.form-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 298px;
    margin: 0px 10px;
}

.input-section {
    text-align: left;
    width: 150px;
    margin: auto;
    padding-top: 20px;
}

.button-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
} 